.receiveMouse {
	pointer-events: all;
}

.ignoreMouse {
	pointer-events: none;
}

.graticule {
	fill: none;
	stroke: #777;
	stroke-width: .5px;
	stroke-opacity: .5;
	z-index: 200;
}

.background {
	stroke: #000;
	stroke-width: 3px;
	fill: #eee;
	z-index: 100;
}

.mapname {
	color: white;
}

.minimaps {
	
}

.minimap {
	float: left;
}

.ubermaps {
}

.land {
	fill: #996633;
}

.sea {
	fill: #3399FF;
}

.metal {
	fill: #00FF00;
	fill-opacity: .6;
}

.control {
	fill: #00ffff;
	fill-opacity: .8;
}

.spawns {
	fill: none;
	stroke: #FF9900;
	stroke-width: 4px;
	stroke-opacity: .8;
}

.unselected_border {
	fill: #000
}

.selected_border {
	fill: #fff
}

.highlight-drag {
	background-color: transparent;
	border: solid #41e7e8 1px;
	position: absolute;
	z-index: 91892819;
	pointer-events: none;
}

.selection_prios {
/* 	position: absolute; */
/* 	width: 100%; */
/* 	bottom: 70px; */
/* 	display: flex; */
/* 	align-items: center; */
/* 	justify-content: center; */
}

.selection_prios_button {
	width: 30px;
	height: 20px;
	text-align: center;
	border: solid black 1px;
	margin-right: 3px;
	margin-bottom: 2px;
	float: left;
}

.selection_prios_row_break {
	clear: both;
	height: 1px;
}

.selection_prio_active {
	background-color: #2E64FE;
}

.selection_prio_inactive {
	background-color: #A9E2F3;	
}